// comments for vanilla js

.scroll-to-top {
  position: fixed;
  top: 84vh;
  right: 40px;
  z-index: 1000;
  display: none;
  width: 56px;
  height: 56px;
  padding-top: 20px;
  font-size: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 3%);
  border: 1px solid #ccc;
  animation: up-and-down 1s ease-out alternate infinite;

  @media (max-width: 576px) {
    display: none;
  }
}

// .scroll-to-top.active {
// 	opacity: 1;
// }

.scroll-arrow {
  display: inline-block;
  padding: 12px;
  border: solid #34d158;
  border-width: 0 3px 3px 0;
  transform: rotate(-135deg);
}

@keyframes up-and-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}
