@use '../abstracts/functions' as *;
@use 'sass:color';

// Fonts
$primaryFontFamily: 'Robotto', sans-serif;
$fontSize: rem(16);
$fontWeight: 400;
$lineHeight: 1.5;

// Colors
$primaryColor: #4e7c2e;
$primaryColorLight: #75ba46;
$secondaryColor: #2d4872;
$footerBgColor: #2e3648;
$black: #171616;
$white: #fff;
$btnColor: $primaryColor;
$btnColorHover: color.adjust($primaryColor, $blackness: 5%);
$tabBtnColor: #e6e6e6;
$borderColor: #e0e0e0;
$gray: #f8f8f8;
$darkGray: #dadada;
$placeholderColor: #999;
$radioBtnBorder: #7f7e7e;

// Others
$btnRadius: rem(4);
$radius: rem(10);
$shadow: 0 0 rem(12) 0 rgba(203, 203, 203, 50%);
$transition: 0.3s;

// Sizes
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1200; // container size
$containerPadding: 30;

// Container width
$containerWidth: $maxWidthContainer + $containerPadding;

// Breakpoints
$sm: rem(568);
$md: rem(768);
$lg: rem(1024);
$xl: rem($containerWidth);
