<section class="how section">
  <div class="container">
    <h2 class="how__title h2">Как мы работаем</h2>

    <p class="how__text">Вам понятен каждый этап: фиксированные сроки и цены, предоставляем все документы: накладные, гарантии, акты. Вы будете уверены в результате.</p>

    <ul class="how__list">
      <li class="how__list-item">
        <div class="how__list-icon">
          <img src="images/how/how-1.svg" width="70" height="70" alt="иконка">
        </div>
        <p class="how__list-text">Бесплатный выезд замерщика</p>
      </li>
      <li class="how__list-item">
        <div class="how__list-icon">
          <img src="images/how/how-2.svg" width="70" height="70" alt="иконка">
        </div>
        <p class="how__list-text">Смета в день обращения</p>
      </li>
      <li class="how__list-item">
        <div class="how__list-icon">
          <img src="images/how/how-3.svg" width="70" height="70" alt="иконка">
        </div>
        <p class="how__list-text">Договор</p>
      </li>
      <li class="how__list-item">
        <div class="how__list-icon">
          <img src="images/how/how-4.svg" width="70" height="70" alt="иконка">
        </div>
        <p class="how__list-text">Накладные материалы</p>
      </li>
      <li class="how__list-item">
        <div class="how__list-icon">
          <img src="images/how/how-5.svg" width="70" height="70" alt="иконка">
        </div>
        <p class="how__list-text">Контроль: фотоотчёт или видеонаблюдение</p>
      </li>
      <li class="how__list-item">
        <div class="how__list-icon">
          <img src="images/how/how-6.svg" width="70" height="70" alt="иконка">
        </div>
        <p class="how__list-text">Акт выполненных работ</p>
      </li>
    </ul>
  </div>
</section>
