<section class="prices">
  <div class="container">
    <h2 class="prices__title h2">Цены на ремонт</h2>

    <div class="prices__row">
      <div class="prices__card card">
        <div class="card__header">
          <div class="card__header-img">
            <img src="images/prices/prices-card-1.jpg" width="60" height="60" alt="Косметический ремонт">
          </div>
          <div class="card__header-column">
            <h3 class="card__header-title h3">Косметический</h3>
            <span class="card__header-text">от 5 дней</span>
          </div>
        </div>

        <div class="card__main">
          <p class="card__text">Такой тип ремонта подойдёт для того чтобы «освежить» ремонт в квартире: заменить покрытие стен, пола и потолка без предварительной подготовки.
          </p>
  
          <div class="card__description">
            <div class="card__desription-title">Демонтаж</div>
            <ul class="card__list">
              <li class="card__list-item">Демонтаж старых покрытий</li>
              <li class="card__list-item">Демонтаж старой электрики</li>
            </ul>
            <div class="card__desription-title">Черновые работы</div>
            <ul class="card__list">
              <li class="card__list-item">Грунтовка стен и пола</li>
              <li class="card__list-item">Шпатлевка и штукатурка стен</li>
            </ul>
          </div>
  
          <div class="card__price">от <span>2 460 </span>руб/м2</div>
          
          <div class="card__btn">
            <button class="btn btn-primary">Получить смету</button>
          </div>
        </div>
      </div>

      <div class="prices__card card">
        <div class="card__header">
          <div class="card__header-img">
            <img src="images/prices/prices-card-2.jpg" width="60" height="60" alt="Косметический ремонт">
          </div>
          <div class="card__header-column">
            <h3 class="card__header-title h3">Капитальный</h3>
            <span class="card__header-text">от 14 дней</span>
          </div>
        </div>

        <div class="card__main">
          <p class="card__text">Такой тип ремонта подойдет, если требкеться отремонтировать квартиру: выровнять стены, сделать стяжку полов, проложить инженерию и выполнить чистовую отделку.</p>
  
          <div class="card__description">
            <div class="card__desription-title">Демонтаж</div>
            <ul class="card__list">
              <li class="card__list-item">Демонтаж старых покрытий</li>
              <li class="card__list-item">Демонтаж старой электрики</li>
            </ul>
            <div class="card__desription-title">Черновые работы</div>
            <ul class="card__list">
              <li class="card__list-item">Грунтовка стен и пола</li>
              <li class="card__list-item">Шпатлевка и штукатурка стен</li>
            </ul>
          </div>
  
          <div class="card__price">от <span>4 950 </span>руб/м2</div>
          
          <div class="card__btn">
            <button class="btn btn-primary">Получить смету</button>
          </div>
        </div>
      </div>

      <div class="prices__card card">
        <div class="card__header">
          <div class="card__header-img">
            <img src="images/prices/prices-card-3.jpg" width="60" height="60" alt="Косметический ремонт">
          </div>
          <div class="card__header-column">
            <h3 class="card__header-title h3">Под ключ</h3>
            <span class="card__header-text">от 11 дней</span>
          </div>
        </div>

        <div class="card__main">
          <p class="card__text">Ремонт класса «евро» — капитальный ремонт с применением современных отделочных материалов и стандартов, включающий перепланировку.</p>
  
          <div class="card__description">
            <div class="card__desription-title">Демонтаж</div>
            <ul class="card__list">
              <li class="card__list-item">Демонтаж старых покрытий</li>
              <li class="card__list-item">Демонтаж старой электрики</li>
            </ul>
            <div class="card__desription-title">Черновые работы</div>
            <ul class="card__list">
              <li class="card__list-item">Грунтовка стен и пола</li>
              <li class="card__list-item">Шпатлевка и штукатурка стен</li>
            </ul>
          </div>
  
          <div class="card__price">от <span>5 450 </span>руб/м2</div>
          
          <div class="card__btn">
            <button class="btn btn-primary">Получить смету</button>
          </div>
        </div>
      </div>

      <div class="prices__card card">
        <div class="card__header">
          <div class="card__header-img">
            <img src="images/prices/prices-card-4.jpg" width="60" height="60" alt="Косметический ремонт">
          </div>
          <div class="card__header-column">
            <h3 class="card__header-title h3">Дизайнерский</h3>
            <span class="card__header-text">от 20 дней</span>
          </div>
        </div>

        <div class="card__main">
          <p class="card__text">Дизайнерский ремонт ориентирован для настоящих ценителей комфорта, эстетики и внутреннего удобства.</p>
  
          <div class="card__description">
            <div class="card__desription-title">Демонтаж</div>
            <ul class="card__list">
              <li class="card__list-item">Демонтаж старых покрытий</li>
              <li class="card__list-item">Демонтаж старой электрики</li>
            </ul>
            <div class="card__desription-title">Черновые работы</div>
            <ul class="card__list">
              <li class="card__list-item">Грунтовка стен и пола</li>
              <li class="card__list-item">Шпатлевка и штукатурка стен</li>
            </ul>
          </div>
  
          <div class="card__price">от <span>7 500 </span>руб/м2</div>
          
          <div class="card__btn">
            <button class="btn btn-primary">Получить смету</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>