<section class="works section">
  <div class="container">
    <h2 class="works__title h2">Примеры наших работ</h2>

    <div class="works-slider-inner">
      <div class="works-slider">
        <div class="works-slider__wrapper swiper-wrapper">
          <div class="works-slider__slide swiper-slide">
            <div class="works-slider__img">
              <picture>
                <source srcset="images/works/works-1.webp" type="image/webp" />
                <img
                  src="images/works/works-1.jpg"
                  width="661"
                  height="378"
                  alt="квартира"
                />
              </picture>
            </div>
            <div class="works-slider__info-wrap">
              <ul class="works-slider__info-list">
                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-1.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Сумма:</span>
                    <span>272 250 руб.</span>
                  </div>
                </li>

                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-2.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Площадь:</span>
                    <span>43 м2</span>
                  </div>
                </li>

                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-3.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Срок:</span>
                    <span>90 дней</span>
                  </div>
                </li>

                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-4.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Комнат:</span>
                    <span>3</span>
                  </div>
                </li>

                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-5.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Адрес: </span>
                    <span>Кулика 18</span>
                  </div>
                </li>

                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-6.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Перечень работ:</span>
                    <ul class="works-slider__list-of-works">
                      <li>Штукатурка стен по маякам</li>
                      <li>Грунтовка стен и потолка</li>
                      <li>Монтаж натяжных потолков</li>
                      <li>Шпатлёвка стен под обои</li>
                      <li>Окраске стен</li>
                      <li>Укладка плитки в с/у</li>
                      <li>Прокладка электрики</li>
                      <li>Установка плинтусов и откосов</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="works-slider__slide swiper-slide">
            <div class="works-slider__img">
              <picture>
                <source srcset="images/works/works-2.webp" type="image/webp" />
                <img
                  src="images/works/works-2.jpg"
                  width="661"
                  height="378"
                  alt="квартира"
                />
              </picture>
            </div>
            <div class="works-slider__info-wrap">
              <ul class="works-slider__info-list">
                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-1.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Сумма:</span>
                    <span>272 250 руб.</span>
                  </div>
                </li>

                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-2.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Площадь:</span>
                    <span>43 м2</span>
                  </div>
                </li>

                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-3.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Срок:</span>
                    <span>90 дней</span>
                  </div>
                </li>

                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-4.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Комнат:</span>
                    <span>3</span>
                  </div>
                </li>

                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-5.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Адрес: </span>
                    <span>Кулика 18</span>
                  </div>
                </li>

                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-6.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Перечень работ:</span>
                    <ul class="works-slider__list-of-works">
                      <li>Штукатурка стен по маякам</li>
                      <li>Грунтовка стен и потолка</li>
                      <li>Монтаж натяжных потолков</li>
                      <li>Шпатлёвка стен под обои</li>
                      <li>Окраске стен</li>
                      <li>Укладка плитки в с/у</li>
                      <li>Прокладка электрики</li>
                      <li>Установка плинтусов и откосов</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="works-slider__slide swiper-slide">
            <div class="works-slider__img">
              <picture>
                <source srcset="images/works/works-3.webp" type="image/webp" />
                <img
                  src="images/works/works-3.jpg"
                  width="661"
                  height="378"
                  alt="квартира"
                />
              </picture>
            </div>
            <div class="works-slider__info-wrap">
              <ul class="works-slider__info-list">
                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-1.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Сумма:</span>
                    <span>272 250 руб.</span>
                  </div>
                </li>

                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-2.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Площадь:</span>
                    <span>43 м2</span>
                  </div>
                </li>

                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-3.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Срок:</span>
                    <span>90 дней</span>
                  </div>
                </li>

                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-4.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Комнат:</span>
                    <span>3</span>
                  </div>
                </li>

                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-5.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Адрес: </span>
                    <span>Кулика 18</span>
                  </div>
                </li>

                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-6.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Перечень работ:</span>
                    <ul class="works-slider__list-of-works">
                      <li>Штукатурка стен по маякам</li>
                      <li>Грунтовка стен и потолка</li>
                      <li>Монтаж натяжных потолков</li>
                      <li>Шпатлёвка стен под обои</li>
                      <li>Окраске стен</li>
                      <li>Укладка плитки в с/у</li>
                      <li>Прокладка электрики</li>
                      <li>Установка плинтусов и откосов</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="works-slider__slide swiper-slide">
            <div class="works-slider__img">
              <picture>
                <source srcset="images/works/works-4.webp" type="image/webp" />
                <img
                  src="images/works/works-4.jpg"
                  width="661"
                  height="378"
                  alt="квартира"
                />
              </picture>
            </div>
            <div class="works-slider__info-wrap">
              <ul class="works-slider__info-list">
                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-1.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Сумма:</span>
                    <span>272 250 руб.</span>
                  </div>
                </li>

                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-2.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Площадь:</span>
                    <span>43 м2</span>
                  </div>
                </li>

                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-3.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Срок:</span>
                    <span>90 дней</span>
                  </div>
                </li>

                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-4.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Комнат:</span>
                    <span>3</span>
                  </div>
                </li>

                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-5.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Адрес: </span>
                    <span>Кулика 18</span>
                  </div>
                </li>

                <li class="works-slider__info-item">
                  <img
                    src="images/works/works-icon-6.svg"
                    width="17"
                    height="17"
                    alt="иконка суммы"
                  />
                  <div class="works-slider__info-inner">
                    <span>Перечень работ:</span>
                    <ul class="works-slider__list-of-works">
                      <li>Штукатурка стен по маякам</li>
                      <li>Грунтовка стен и потолка</li>
                      <li>Монтаж натяжных потолков</li>
                      <li>Шпатлёвка стен под обои</li>
                      <li>Окраске стен</li>
                      <li>Укладка плитки в с/у</li>
                      <li>Прокладка электрики</li>
                      <li>Установка плинтусов и откосов</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="works-thumbs">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              src="images/works/works-thumbs-1.jpg"
              width="80"
              height="60"
              alt="интерьер"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="images/works/works-thumbs-2.jpg"
              width="80"
              height="60"
              alt="интерьер"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="images/works/works-thumbs-3.jpg"
              width="80"
              height="60"
              alt="интерьер"
            />
          </div>
          <div class="swiper-slide">
            <img
              src="images/works/works-thumbs-4.jpg"
              width="80"
              height="60"
              alt="интерьер"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
